@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-header {
    background-color: rgba(0,0,0, .6);
    background-image: url('Images/tyler-profile-front.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "Merienda", cursive; 
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 5em;
}

.content-section {
    margin: 1em;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.about-photo {
    height: 300px;
    float: left;
    margin: 0 15px;
    border-radius: 5%;
}

.section-header {
    font-family: "Merienda", cursive;
    font-weight: light;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.main-footer {
    background-color: #56ccf2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
    font-size: 2em;
    
}

.footer-nav i {
    style: solid;
    color: white;
}

.store-img {
    width: 300px;
}